html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.main-Container::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
}

.main-Container {
  scrollbar-width: none;
}

.main-Container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #0c192c;

  padding: 1rem;
}
.general-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-Name,
.download,
.header-Content {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.header-Name .bxl-linkedin-square {
  font-size: 20px;
}

.download .bx-cloud-download {
  font-size: 18px;
}

.general-Header .header-Name,
.download {
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}

.header-Name li,
.download li {
  margin-right: 20px;
}

.header-Name li,
.download-list li,
.header-Content li {
  margin-right: 20px;
}

.header-Name li a,
.download-list a,
.header-Content li a {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #c7b75b;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s;
  text-align: center;
  font-size: 0.9rem;
}

.header-Name li a:hover,
.download-list a:hover,
.header-Content li a:hover {
  background-color: #a89b4f;
  transform: translateY(-2px);
}

.header-Name li a:active,
.download-list a:active,
.header-Content li a:active {
  transform: translateY(1px);
}

.toggle_menu {
  display: none;
  cursor: pointer;
  z-index: 1;
}

.bx-menu {
  z-index: 10;
  color: #fff;
}
/* Estilos del menú desplegable */
.dropdown_menu {
  z-index: 10;
  display: none;
  background-color: #444;
  position: absolute;
  top: 60px;
  right: 20px;
  width: 200px;
}

.dropdown_menu.open {
  display: block;
}

.dropdown_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown_menu li {
  padding: 10px;
}

.dropdown_menu li a {
  color: #fff;
  text-decoration: none;
}

.footer {
  background-color: #fff;
  padding: 2rem;
  text-align: center;
  flex-shrink: 0;
}

.footer h3 {
  margin-bottom: 0;
  color: #c7b75b;
}

.bxl-whatsapp-square {
  color: green;
}

.bx-phone {
  color: #183a6d;
}

.contact__info-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__info-item1 i,
.contact__info-item2 i,
.contact__info-item3 i {
  margin-right: 0.5rem;
}

.contact__info-data > div {
  display: flex;
  align-items: flex-end;
}

/* Estilos para enlaces */
.contact__info-number a,
.contact__info-mail a {
  color: #0a0909;
  text-decoration: none;
}

/* Media Queries para dispositivos pequeños */
@media (max-width: 768px) {
  .footer {
    padding: 1rem;
  }

  .contact__info-data {
    flex-direction: column;
  }

  .contact__info-item1,
  .contact__info-item2,
  .contact__info-item3 {
    margin: 0.5rem 0;
  }
}

/* Media Queries para dispositivos pequeños */
@media (max-width: 900px) {
  .header-Content {
    display: none;
  }

  .toggle_menu {
    display: flex;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
  }

  .dropdown_menu {
    right: 0;
  }
  .bx-menu {
    z-index: 10;
  }
}
