html,
body {
  margin: 0; /* Eliminar márgenes por defecto */
  padding: 0; /* Eliminar padding por defecto */
  overflow-x: hidden;
  overflow-y: auto;
}

.main-Container::-webkit-scrollbar {
  display: none; /* Ocultar la barra de desplazamiento */
}

body::-webkit-scrollbar {
  display: none; /* Ocultar la barra de desplazamiento */
}

/* Para ocultar las barras de desplazamiento en Firefox */
body {
  scrollbar-width: none; /* Ocultar la barra de desplazamiento en Firefox */
}

.main-Container {
  scrollbar-width: none; /* Ocultar la barra de desplazamiento en Firefox */
}

.main-Container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #0c192c;

  padding: 1rem;
}
.general-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-Name,
.download,
.header-Content {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.header-Name .bxl-linkedin-square {
  font-size: 20px;
}

.download .bx-cloud-download {
  font-size: 18px;
}

.general-Header .header-Name,
.download {
  display: flex; /* Hacer que las listas sean flexibles */
  align-items: flex-end; /* Alinear al fondo */
  margin: 0; /* Eliminar márgenes */
  padding: 0; /* Eliminar padding */
}

.header-Name li,
.download li {
  margin-right: 20px; /* Espacio entre los elementos */
}

.header-Name li,
.download-list li,
.header-Content li {
  margin-right: 20px;
}

.header-Name li a,
.download-list a,
.header-Content li a {
  display: inline-block; /* Convertir en bloque en línea */
  padding: 0.5rem 1rem; /* Espaciado interior más pequeño */
  background-color: #c7b75b; /* Color de fondo del botón */
  color: #fff; /* Color del texto */
  text-decoration: none; /* Sin subrayado */
  border-radius: 8px; /* Bordes redondeados */
  transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
  text-align: center; /* Centrar texto */
  font-size: 0.9rem; /* Tamaño de fuente más pequeño */
}

.header-Name li a:hover,
.download-list a:hover,
.header-Content li a:hover {
  background-color: #a89b4f; /* Color de fondo al pasar el ratón */
  transform: translateY(-2px); /* Efecto de elevación */
}

.header-Name li a:active,
.download-list a:active,
.header-Content li a:active {
  transform: translateY(1px); /* Efecto al hacer clic */
}

.toggle_menu {
  display: none; /* Ocultar por defecto */
  cursor: pointer;
  z-index: 1;
}

.bx-menu {
  z-index: 10;
  color: #fff;
}
/* Estilos del menú desplegable */
.dropdown_menu {
  z-index: 10;
  display: none;
  background-color: #444;
  position: absolute;
  top: 60px;
  right: 20px;
  width: 200px;
}

.dropdown_menu.open {
  display: block;
}

.dropdown_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown_menu li {
  padding: 10px;
}

.dropdown_menu li a {
  color: #fff;
  text-decoration: none;
}

.footer {
  background-color: #fff;
  padding: 2rem;
  text-align: center;
  flex-shrink: 0; /* Asegura que el footer no se reduzca */
}

.footer h3 {
  margin-bottom: 0;
  color: #c7b75b;
}

.bxl-whatsapp-square {
  color: green;
}

.bx-phone {
  color: #183a6d;
}

.contact__info-data {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar los elementos en pantallas pequeñas */
}

.contact__info-item1 i,
.contact__info-item2 i,
.contact__info-item3 i {
  margin-right: 0.5rem; /* Espacio entre icono y texto */
}

.contact__info-data > div {
  display: flex;
  align-items: flex-end; /* Alinear los iconos al fondo */
}

/* Estilos para enlaces */
.contact__info-number a,
.contact__info-mail a {
  color: #0a0909;
  text-decoration: none;
}

/* Media Queries para dispositivos pequeños */
@media (max-width: 768px) {
  .footer {
    padding: 1rem; /* Reducir padding en pantallas pequeñas */
  }

  .contact__info-data {
    flex-direction: column; /* Colocar los elementos en una columna */
  }

  .contact__info-item1,
  .contact__info-item2,
  .contact__info-item3 {
    margin: 0.5rem 0; /* Espacio entre elementos */
  }
}

/* Media Queries para dispositivos pequeños */
@media (max-width: 900px) {
  .header-Content {
    display: none; /* Ocultar enlaces en dispositivos pequeños */
  }

  .toggle_menu {
    display: block; /* Asegúrate de que esté visible */
    padding: 10px; /* Aumenta el padding para que sea más fácil de clicar */
    cursor: pointer;
    z-index: 10; /* Asegúrate de que esté encima de otros elementos */
  }

  .dropdown_menu {
    right: 0; /* Alinear a la derecha */
  }
  .bx-menu {
    z-index: 10;
  }
}
