.carousel {
  max-width: 47%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin: -4px auto;
  padding: 0;
}

.title_portfolio {
  text-align: center;
  color: #c7b75b;
}

.comentaries {
  text-align: center;
  color: #ddd;
}

.project-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.project-buttons a {
  margin: 0 10px;
}

button {
  border-radius: 7px;
  padding: 10px;
  font-size: 16px;
}

/* Media Queries */
@media (max-width: 768px) {
  .carousel {
    max-width: 80%;
    height: 60vh;
  }

  button {
    padding: 8px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .carousel {
    max-width: 95%;
    height: 50vh;
  }

  button {
    margin-top: 1rem;
    padding: 6px;
    font-size: 12px;
    border-radius: 5px;
  }
}

button:hover {
  background-color: #c7b75b; /* Color de fondo en hover */
}
